@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/saileshrijal/BlazorEasyDialog" target="_blank"><i class="fa-brands fa-github"></i> Repository</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>