@page "/"

<button class="btn btn-primary" @onclick="()=>ShowDialog =true">Open</button>

<BlazorEasyDialog ShowDialog="ShowDialog" 
                  DismissOnOverlayClick="true" 
                  HeaderTitle="Dialog Title" >
    <DialogBody>
        <p>This is a dialog body!!</p>
    </DialogBody>
</BlazorEasyDialog>