@page "/"

<p>@TextValue</p>
<button class="btn btn-primary" @onclick="()=>ShowDialog =true">Open</button>

<BlazorEasyDialog @bind-Visibility="ShowDialog" 
                  SubmitDialog="@OnSubmit"
                  HeaderBackgroundColor="red"
                  HeaderTitle="Dialog Title" >
    <DialogBody>
        <p>This is a dialog body!!</p>
    </DialogBody>
</BlazorEasyDialog>